body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #f6eaed;
}

#container{
    min-height: 250px;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    flex-wrap: wrap;
    align-content:space-around;
}



.item{
    height: 200px;
    width: 200px;
 

    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;


    background-color: #FDCEDF;
    border: 1px solid #d5d9d9;
    border-radius: 8px;
  
    box-sizing: border-box;
    color: #0f1111;


    align-items: center;
    justify-content: center;

    font-size: 13px;
    line-height: 70px;
    padding: 10px 10px 0 10px;
    text-align: center;
  
    
}

p{
    font-size: 25px;
    line-height: 35px;
    
}
.item.toggle:hover{
    cursor: pointer;
    background-color: #f6c8d9;
}

#label{
    font-size: 25px;
}

.item.generate{
    width: 400px;
    height: 100px;
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 30px;
    line-height: 15px;
    padding: 10px;
}


.item.generate:hover{
    cursor: pointer;
    background-color: #f6c8d9;

}

.item.title{
    width: 800px;
    height: 150px;
    text-align: center;
    font-size: 70px;
    padding: 30px 15px;
    line-height: 70px;
    margin-bottom: 5px;
    background-color: #F2BED1;
    
}

.item.instructions{
    width: 600px;
    height: 100px;
    align-self: center;
    margin-top: 0px;
    font-size: 30px;
    padding: 15px;
    margin-bottom: 0px;
    background-color: #F8E8EE;
    
}

#container2{
    height: 250px;
    width:1000px;
    display: flex;
    justify-content: space-around;
    gap: 0px;
    flex-wrap: wrap;
    align-content:space-around;

}

.item.password{
    border-top: 0px;
    width: 490px;
    padding-top: 60px;
    font-size: 40px;
    background-color: #F8E8EE;
}

.item.strength{
    border-top: 0px;
    width: 490px;
    font-size: 40px;
    padding-top: 60px;
    background-color: #F8E8EE;
}


/* Imported checkbox styling */
.checkbox-wrapper-2 .ikxBAC {
appearance: none;
background-color: #dfe1e4;
border-radius: 72px;
border-style: none;
flex-shrink: 0;
height: 20px;
margin: 0;
position: relative;
width: 30px;
}

.checkbox-wrapper-2 .ikxBAC::before {
bottom: -6px;
content: "";
left: -6px;
position: absolute;
right: -6px;
top: -6px;
}

.checkbox-wrapper-2 .ikxBAC,
.checkbox-wrapper-2 .ikxBAC::after {
transition: all 100ms ease-out;
}

.checkbox-wrapper-2 .ikxBAC::after {
background-color: #fff;
border-radius: 50%;
content: "";
height: 14px;
left: 3px;
position: absolute;
top: 3px;
width: 14px;
}

.checkbox-wrapper-2 input[type=checkbox] {
cursor: default;
}

.checkbox-wrapper-2 .ikxBAC:hover {
background-color: #c9cbcd;
transition-duration: 0s;
cursor: pointer;
}

.checkbox-wrapper-2 .ikxBAC:checked {
background-color: #8785A2;
}

.checkbox-wrapper-2 .ikxBAC:checked::after {
background-color: #fff;
left: 13px;
}

.checkbox-wrapper-2 :focus:not(.focus-visible) {
outline: 0;
}

.checkbox-wrapper-2 .ikxBAC:checked:hover {
background-color: #76748f;
cursor: pointer;
}







